 
<br>
<h3><b>Tạo khóa học</b></h3>
<form class="mt-4" action="store" method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Tên khóa học</label>
    <input type="text" class="form-control" name="name" id="" placeholder=" ">
  </div>
   
    <div class="form-group">
    <label for="exampleFormControlInput1">Mô Tả</label>
    <input type="text" class="form-control" name="description" id="" placeholder=" ">
  </div>
    
    <div class="form-group">
    <label for="exampleFormControlInput1">Level</label>
    <input type="text" class="form-control" name="level" id="" placeholder=" ">
  </div>
   
    <div class="form-group">
    <label for="exampleFormControlInput1">Video ID</label>
    <input type="text" class="form-control" name="videoId" id="" placeholder=" ">
  </div>
 
 <button type="submit" class="btn btn-success">Thêm khóa học</button>
</form>